
.tab{
	width:718px;
	height: 40px;
	list-style-type: none;
	margin: 25px auto;
}
.tab li{
	width: 170px;
	height: 100%;
	float: left;
	margin-right: 9px;
	border: 1px solid #b9b8b8;
	font-size: 15px;
	color: #878787;
	line-height: 40px;
	text-indent: 15px;
}
.tab .li_last,.introduce .li_last{
	margin-right: 0; 
}
.tab .select{
	color: #fff;
	background-color:#e60012;
	text-align: center;
}
.introduce{
	width: 1210px;
	margin: 120px auto;
}
.introduce li{
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.introduce li img{
	width: 100%;
	float: left;
	height: 240px;
	border: 1px solid #e4e4e4;
}
.name{
	font-size: 20px;
	color: #000;
	margin:25px 0 30px 10px;
	float: left;
}
.nameOther{
	font-size: 16px;
	color: #000;
	margin:25px 0 30px 10px;
	float: left;
}
.nameOther span{
	margin-left: 20px;
	font-size: 14px;
	color:#999;
}
.lang{
	font-size: 15px;
	color: #878787;
	padding-bottom: 60px;
	margin-left: 10px;
	float: left;
}