/*...................4F.....5F.....................................*/
.left-ul1 .left-li41{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/electronics/i/electronicsicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li42{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/electronics/i/electronicsicon.png) 0 -26px no-repeat;
}


/*..........................5F.....................................*/

.left-ul1 .left-li51{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/digitals/i/digitalsicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li52{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/digitals/i/digitalsicon.png) 0 -26px no-repeat;
}
/*.....................6F..............................*/
.left-ul1 .left-li61{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/sports/i/sportsicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li62{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/sports/i/sportsicon.png) 0 -26px no-repeat;
}
.left-ul1 .left-li63{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/sports/i/sportsicon.png) 0 -52px no-repeat;
}
.left-ul1 .left-li64{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/sports/i/sportsicon.png) 0 -78px no-repeat;
}
.zj6-left{
    width: 219px;
    float: left;
}
.zj6-left img{
    border-bottom: 1px solid #EDEDED;
}
.F6img {
    display: block;
    margin-top: -3px;
}
.zj2-right .zj2-tab1 .F6tab1 a{
    display: block;
    width: 222px;
    height: 238px;
    border-bottom: 1px solid #EDEDED;
}
/*............................7F..................................*/

.left-ul1 .left-li71{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/livings/i/livingsicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li72{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/livings/i/livingsicon.png) 0 -26px no-repeat;
}
.left-ul1 .left-li73{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/livings/i/livingsicon.png) 0 -52px no-repeat;
}
.left-ul1 .left-li74{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/livings/i/livingsicon.png) 0 -78px no-repeat;
}




/*..............................8F................................*/

 .left-ul1 .left-li81{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/babys/i/babysicon.png) 0 0 no-repeat;
             }
.left-ul1 .left-li82{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/babys/i/babysicon.png) 0 -26px no-repeat;
}
.left-ul1 .left-li83{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/babys/i/babysicon.png) 0 -52px no-repeat;
}
.left-ul1 .left-li84{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/babys/i/babysicon.png) 0 -78px no-repeat;
}
/*..............................9F................................*/

.left-ul1 .left-li91{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/foods/i/foodsicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li92{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/foods/i/foodsicon.png) 0 -26px no-repeat;
}
.left-ul1 .left-li93{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/foods/i/foodsicon.png) 0 -52px no-repeat;
}
.left-ul1 .left-li94{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/foods/i/foodsicon.png) 0 -78px no-repeat;
}

/*...........................10F..........................................*/
.left-ul1 .left-li101{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/books/i/booksicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li102{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/books/i/booksicon.png) 0 -26px no-repeat;
}
.left-ul1 .left-li103{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/books/i/booksicon.png) 0 -52px no-repeat;
}
.left-ul1 .left-li104{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/books/i/booksicon.png) 0 -78px no-repeat;
}
.zj2-right .zj2-tab1 .tab102-left{
    width: 439px;
    border-right: 1px solid #EDEDED;
}
.zj2-right .zj2-tab1 .tab1002-left{
    height: 236px;
}
.tab102-left .ul-yuan{
    width: 90px;
    height: 30px;
    margin: -20px auto;
}
.tab102-left .ul-yuan li{
    width: 12px;
    height: 12px;
    float: left;
    background-color: #3E3E3E;
    position: relative;
    border-radius: 50%;
    z-index: 3;
    margin-right: 8px;
}
.zj2-right .zj2-tab1 .tab102-left .btmimg{
    width: 215px;
    border-left: 1px solid #EDEDED;
}
.F10tab1 h2{
    margin: 15px 0 10px 13px;
    font-size: 20px;
    color: #666;
}
.F10tab1 ul{
    width: 335px;
    height: 426px;
    border-top: 1px solid #EDEDED;
    margin-left:5px;
}
.F10tab1 ul li{
    overflow: hidden;
    margin-top: 10px;
}
.F10tab1 ul .author{
    width: 67px;
    height: 74px;
    margin: 15px 0 0 15px;
    float: left;
}
.F10tab1 ul .author img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.F10tab1 ul .author p{
    margin:5px 12px;
    float: left;
}
.F10tab1 ul li .jieshao{
    width: 250px;
    height: 74px;
    border-left: 1px dashed #EDEDED;
    margin-top: 15px;
    float: left;
    position: relative;
}
.F10tab1 ul li .jieshao img{
    width: 80px;
    height: 80px;
    margin-left: 6px;
}
.F10tab1 ul li .jieshao span{
    float: right;
    color: #666;
    font-size: 14px;
}
.F10tab1 ul li .jieshao .span2{
    padding: 3px 3px;
    background-color: #F8F8F8;
    margin-top: -62px;
}
.F10tab1 ul li .jieshao .fang{
    position: absolute;
    top: 40px;
    left:106px;
    color:#F8F8F8 ;
}
/*.......................................11F.........................................*/
.left-ul1 .left-li111{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/cars/i/carsicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li112{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/cars/i/carsicon.png) 0 -26px no-repeat;
}
.left-ul1 .left-li113{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/cars/i/carsicon.png) 0 -52px no-repeat;
}
.zj-left .left-ul1 .F11-span{
   margin-left: 28px;
}

/*........................................12F...................................................*/
.left-ul1 .left-li121{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/life/i/lifeicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li122{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/life/i/lifeicon.png) 0 -26px no-repeat;
}
.zj-left .F12-span{
    margin-right: 30px;
}
.left-ul1 .left-li123{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/life/i/lifeicon.png) 0 0 no-repeat;
}
.left-ul1 .left-li124{
    background: url(http://misc.360buyimg.com/product/home/1.0.0/widget/life/i/lifeicon.png) 0 -26px no-repeat;
}

.rightF12{
    width: 395px;
    height: 100%;
    border-right: 1px solid #EDEDED;
    float: left;
    position: relative;
}
.F12out1{
    width: 395px;
    height:237px;
}
.F12out2{
    width: 395px;
    height:237px;
    position: relative;
    overflow: hidden;
}
.F12out2 .F12inner{
    width:2370px;
    height: 237px;
}
.F12out1 .ul-yuan{
    width: 90px;
    height: 30px;
    margin: -20px auto;
}
.F12out1 .ul-yuan li{
    width: 12px;
    height: 12px;
    float: left;
    background-color: #3E3E3E;
    position: relative;
    border-radius: 50%;
    z-index: 3;
    margin-right: 8px;
}
.btnF{
    width: 25px;
    height: 55px;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top: 190px;
    left:0;
    z-index: 3;
    cursor: pointer;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: none;
}
 .btnF2{
    position: absolute;
    left:314px;
     display: none;
}
 .btnF3{
     top:90px;
 }
.btnF32{
    position: absolute;
    top:90px;
    left:415px;
}
.F12out1 .btnF122{
    left: 370px;
}
.btnF12{
    width: 25px;
    height: 55px;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top: 100px;
    left:0;
    z-index: 3;
    cursor: pointer;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.aaa a{
    display: block;
    float: left;
}