/*.................duo  kuai.....................................*/
.duo{
    width: 1349px;
    height: 100px;
    background-color: #F5F5F5;
    margin-top: -20px;
    position: relative;
}
.duo1{
    width: 310px;
    height: 100px;
    background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_1.png) 70px 30px no-repeat;
    float: left;
}
.duo2{
    width: 310px;
    height: 100px;
    background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_2.png) 70px 30px no-repeat;
    float: left;
}
.duo3{
    width: 310px;
    height: 100px;
    background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_3.png) 70px 30px no-repeat;
    float: left;
}
.duo4{
    width: 310px;
    height: 100px;
    background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/service/1.0.0/i/service_items_4.png) 70px 30px no-repeat;
    float: left;
}

/*......................footer..................................*/
.footer{
    width: 1218px;
    margin:20px auto;
}
.footer .footer_top{
    width: 100%;
    height: 185px;
    border-bottom: 1px solid #EDEDED;
}
.footer_ul1{
    line-height: 20px;
    padding:10px 20px;
    margin-right: 72px;
    float: left;
}
.footer_ul1 .lifirst{
    font-size: 16px;

}
.footer_ul1 li a{
    color: #666;
}
.footer_ul1 li a:hover{
    color: red;
}
.footer_top .lastul{
    width: 210px;
    height: 180px;
    margin-right: 10px;
    background: url(http://misc.360buyimg.com/product/skin/2013/i/20130330B_1.png) 0 -128px no-repeat;
}
.footer_btm{
    width: 100%;
}
.btm_ul1{
    width: 759px;
    height: 30px;
    margin: 6px auto;
}
.btm_ul1 li a{
    color: #666;
    padding:0  10px;
    border-right: 1px solid #666;
}
.btm_ul1 li{
    float: left;
}
.btm_ul1 li a£ºhover{
    color: red;
}
.footer_p1{
    width:750px;
    height: 20px;
    margin: 0 auto;
}
.footer_p1 li{
    float:left;

}
.footer_p1 li a{
    padding:0 5px;
    border-right:1px solid #666;
    color:#666;
}
.footer_p1 li a:hover{
    color:red;
}
.footer_p2{
    width:133px;
    height: 30px;
   color:#666;
    margin: 1px auto;
}
.footer_p3{
    width: 680px;
    height: 50px;
    margin:0 auto;
}
.footer_p3 li{
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
