.tian_wrap{
    width:1218px;
    height: 350px;
    /*border: 1px solid red;*/
    border-bottom: 1px solid #EDEDED;
    margin: 50px auto;
    overflow: hidden;
}
.tian_wrap h2{
    font-size: 22px;
    color: #666;
}
.tian_left{
    width: 900px;
    height:100%;
    float: left;
}
.tian_left .tian_left2{
    height: 318px;
    border: 1px solid #EDEDED;
    margin-top: 8px;
}
.tian_li1{
    width:240px;
    height: 317px;
    border-right: 1px solid #EDEDED;
    float: left;
}
.tian_li2{
    width:218px;
    height: 158px;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    float: left;
}
.tian_right{
    width: 316px;
    height:100%;
    float: left;
}
.tian_right .tian_right2{
    height: 318px;
    border: 1px solid #EDEDED;
    margin-top: 8px;
    border-left: none;
}
.tian_left2 .tianImg{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.tian_left2 .tianImg2{
    width: 190px;
    height: 180px;
    position: absolute;
}
.tian_left2 .tianFont{
    width: 180px;
    margin: 40px auto;
    cursor: pointer;
}
.tian_left2 .tianFont a{
    font-size: 12px;
    color: #666;
}
.tian_left2 .tianFont a:hover{
    color: red;
}
.tian_left2 .tianFont span{
    font-size: 18px;
    color: red;
}
.tian_left .li2_img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}
.tian_left .li2_img2{
    width: 110px;
    height: 100px;
    position: absolute;
}
.tian_left .li2Font{
    width: 90px;
    margin: -88px 15px;
    cursor: pointer;
    float: right;
}
.tian_left .li2Font a{
    font-size: 12px;
    color: #666;
}
.tian_left2 .li2Font span{
    font-size: 18px;
    color: red;
}
.tian_right2 .tout{
    width: 268px;
    height: 240px;
    /*border: 1px solid red;*/
    margin: 36px auto;
    overflow: hidden;
    /*overflow-y: scroll;*/
}
.tian_right2 .tout .tinner{
    width: 268px;
    height: 750px;
}
.tian_right2 .tout .tinner li{
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
}
.tout .tinner li .div{
    float: left;
}
.tout .tinner li .div2{
    position: relative;
    float: left;
}
.tinner li .div2 .p1 img{
    border-radius: 50%;
}
.tinner li .div2 .p1{
    margin: 10px 20px;
}
.tinner li .div2 .p2 {
    width: 122px;
    height: 50px;
    background-color: #F8F8F8;
    margin:-5px 20px;
    padding-left:5px;
}
.div2 .p1 .spanp1{
   display: block;

}
.div2 .p2 .kuai{
    position: absolute;
    top: 75px;
    left:14px;
    color:#F8F8F8 ;
}