body,p,ul,li,span,input{
    margin: 0;
    padding:0;
}
ul{
    list-style-type: none;
}
.wrap{
    width: 1344px;
    border-right: 5px solid #7A6E6E;
    /*overflow: scroll;*/
}
.header{
    height: 250px;
    border-bottom: 2px solid darkred;
}
.header:after{
    content: '.';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.h1{
    height: 27px;
    background-color: rgb(241,241,241);
    line-height: 27px;
    position: relative;
    min-width:1140px;
}
.header .h1 .span1{
    height: 13px;
    margin-left: 20px;
}
.header .h1 span{
    width: 11px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
}
.h1 .city{
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    position: absolute;
    top: 26px;
    left: 84px;
    z-index: 5;
    display: none;
    cursor: pointer;
}
.h1 .h1song .cs{
    width: 30px;
    height: 20px;
    float: left;
    margin-left:45px;
    margin-top: -27px;
}
.city li{
    float: left;
    margin-left: 20px;
    font-size: 13px;
    padding: 0 5px;
}
.h1 .h1song{
    width: 95px;
    font-size:12px;
    color: rgba(0, 0, 0, 0.47);
    line-height: 27px;
     margin-left: 85px;
    text-align: center;
    float: left;
    cursor: pointer;
    /*border: 1px solid #ccc;*/
    /*border-bottom: none;*/
}

.h1 p{
    height: 26px;
    font-size:12px;
    float: right;
    margin-top: 0px;
    margin-right: 4px;
}
.h1 p a{
    font-size:12px;
    color: rgba(0, 0, 0, 0.47);
    text-decoration: none;
    padding: 7px;
}
.h1 p a:hover{
    color:red;
}
.h1 .myjd {
    width: 250px;
    height: 220px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    position: absolute;
    top: 26px;
    z-index: 3;
    right: 312px;
    display: none;
}
.header .myjd .good {
    width: 100%;
    height: 80px;
    /*border: 1px solid red;*/
}
.h1 .myjd .good .spanj{
    width:90px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    color: #898989;
    float: right;
    margin: -68px 80px 0 0;
}
.h1 .myjd .good .spanj2{
    width: 108px;
    height: 30px;
    font-size: 10px;
    color: #666;
    float: right;
    margin: -48px 69px 0 0;
}
.h1 .myjd  .spanj3{
    width: 110px;
    height: 30px;
    float: left;
    margin-left: 20px;
}
.h1 .myjd .spanj4{
    width: 110px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: -80px;
}
.h1 .myjd .spanj4-1{
    margin-top: -90px;
}
.h1 .myjd .spanj4-2{
    margin-top: -60px;
}
.h1 .myjd .spanj4-3{
     margin-top: -30px;
 }
.h1 .myjd .spanj4-4{
    margin-top: -1px;
}
.h1 .myjd  .gdimg{
    width: 65px;
    height: 65px;
    border: 1px solid #fff;
    border-radius:100%;
    margin-top:5px;
}
.h1 .phone{
    width: 250px;
    height: 195px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    position: absolute;
    top: 26px;
    right: 148px;
    z-index: 3;
    display: none;
    cursor: pointer;
}
.h1 .gzhu{
    width: 71px;
    height:100px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-top: none;
    position: absolute;
    top: 26px;
    right: 240px;
    z-index: 3;
    display: none;
}
.gzhu .gimg{
    width: 70px;
}
.h1 .kehu{
    width: 170px;
    height: 150px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    position: absolute;
    top: 26px;
    right: 55px;
    z-index: 3;
    cursor: pointer;
    display: none;
}
.h1 .kehu .kehu1{
    width: 100%;
    height: 100px;
    border-bottom: 1px dashed #ccc;
}
.kehu .kehu1 .spank{
    width: 50px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    float: left;
    color: #666;
    margin: 3px 0 0 10px;
}
.kehu .kehu1 .spank1{
    width: 70px;
    height: 30px;
    float: left;
    color: #666;
    margin: 25px 0 0 -50px;
}
.h1 .kehu1 .spank12{
    margin: 50px 0 0 -70px;
}
.h1 .kehu1 .spank13{
    margin: 75px 0 0 -70px;
}
.h1 .kehu1 .spank14{
    margin: 25px 0 0 5px;
}
.h1 .kehu1 .spank15{
    margin: -5px 0 0 5px;
}
.h1 .kehu .spank2{
    width: 50px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    float: left;
    color: #666;
    margin: -10px 0 0 10px;
}
.h1 .kehu .spank21{
    width: 90px;
    height: 30px;
    float: left;
    color: #666;
    margin: 10px 0 0 -50px;
}

.h1 .wangdao{
    width: 1230px;
    height: 180px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    position: absolute;
    top: 26px;
    right: 66px;
    z-index: 3;
    display: none;
}
.h1 .wangdao .zhuti{
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    float: left;
    margin: 15px 0 0 15px;
}
.h1 .wangdao .zhuti1{
    width: 70px;
    height: 30px;
    float: left;
    margin: 45px 0 0 -107px;

}
.h1 .wangdao .zhuti12{
    margin: 70px 0 0 -107px;
}
.h1 .wangdao .zhuti13{
    margin: 95px 0 0 -107px;
}
.h1 .wangdao .zhuti14{
    margin: 118px 0 0 -107px;
}
.h1 .wangdao .zhuti15{
    margin: 140px 0 0 -107px;
}

.h1 .wangdao .zhuti2{
    width: 70px;
    height: 30px;
    float: left;
    margin: 45px 0 0 -15px;
}
.h1 .wangdao .zhuti21{
    margin: 70px 0 0 -71px;
}
.h1 .wangdao .zhuti22{
    margin: 95px 0 0 -71px;
}
.h1 .wangdao .zhuti23{
    margin: 118px 0 0 -71px;
}
.h1 .wangdao .zhuti24{
    margin: 140px 0 0 -71px;
}

.h1 .wangdao .zhuti3{
    width: 70px;
    height: 30px;
    float: left;
    margin: 45px 0 0 18px;
}
.aimg{
    display: block;
    min-width: 1345px;
}
.h1 .wangdao .shu{
    width: 0;
    height: 145px;
    border-left: 0 solid #666;
    margin: 23px 0 0 35px;
}
.h2{
    height: 144px;
    position: relative;
    min-width:1345px;
}
.h2 img{
    margin-left: 68px;
    margin-top: 20px;
}
.h2 form{
    margin-right:475px;
    margin-top: 25px;
    float:right;
    min-width: 472px;
}
.h2 input{
    width: 400px;
    height: 30px;
    outline: none;
}
.h2 form span{
    padding:10px 22px;
    background-color: darkred;
    color:white;
    float: right;
    margin-left:-5px;

}
.h2 form a{
    text-decoration: none;
}
.h2 .inxia{
    width: 485px;
    margin-left: 396px;
    margin-top: -20px;
    min-width: 500px;
}
.h2 .inxia a{
    padding:0px 2px;
    font-size: 12px;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.47);
}
.h2 .inxia a:hover{
    color: red;
}
.h2 .che{
    width: 139px;
    height: 33px;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
    float:right;
    margin-top: -54px;
    margin-right: 205px;
    background-image: url("http://misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/jd2015img.png");
    background-repeat: no-repeat;
    background-position:10px -48px ;
    position: relative;
}
.h2 .cheyin{
    width: 203px;
    height: 65px;
    border: 1px solid #DFDFDF;
    float: right;
   margin: -20px 205px 0 0;
    display: none;
    overflow: hidden;
}
.h2 .cheyin .imgche{
    margin:7px 13px;
}
.h2 .cheyin .spanc{
    font-size: 8px;
    color: #999999;
    float: right;
    margin: -40px -3px 0 0;
}
.h2 .meng{
    width: 138px;
    height:3px;
    background-color: #fff;
    /*border: 1px solid red;*/
    position: absolute;
    left: 1000px;
    top:55px;
    display: none;
}
.h2 .che a{
    padding-left: 45px;
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.47);
    line-height:  33px;
    letter-spacing: 1px;
}
.daohang{
    width: 220px;
    height: 50px;
    background-color: darkred;
    line-height: 50px;
    position:absolute;
    top:-53px;
    left: -2px;
}
.daohang a{
    color: white;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
font-size: 15px;
}
.liebiao{
    width: 655px;
    height: 30px;
    margin-top:22px;
    margin-left: 280px;
    float:left;
}

.liebiao ul li{
    list-style-type: none;
    margin-left: 33px;
    float:left;
}
.liebiao ul li a{
    text-decoration: none;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
}
.liebiao ul li a:hover{
    color:red;
}
/*************头部*******************/
.content1{
    width: 1218px;
    /*border-bottom: 1px solid red;*/
    margin: 0 auto;
}
.dh{
    position: relative;
    width: 218px;
    height: 465px;
    background-color: rgb(206,0,39);
    float: left;
    border: 1px solid #C81623;
    border-right:none;
}
.dh .jiantou{
    float: right;
    margin-right: 10px;
    color: #F7F7F7;
}
.content1 .dh ul{
    list-style-type: none;

}
.content1 .dh ul li{
    padding: 6px 0 7px 0;
    /*margin-top: 8px;*/
    height: 16%;
    cursor: pointer;
    border-right: 1px solid #C81623;
}
.content1 .dh .ulun{
    position: relative;
}
.content1 .dh .ulun  li:hover{
    background-color: #F7F7F7;
    border-right: none;
}
.content1 .dh ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin-left: 10px;
}
.content1 .dh ul li:hover a{
  color:red;
}
.content1 .zhjian{
    width: 990px;
    height: 456px;
    /*border:1px solid red;*/
    float:left;
    margin: 9px  0 9px 7px;
    position: relative;
    z-index: -1;
}
.content1 .zhjian .left2{
    width: 725px;
    height: 456px;
    /*border-right:1px solid blue;*/
    float: left;
    overflow: hidden;
}
.content1 .zhjian .left2 .linner{
    width: 4356px;
    height: 456px;
}
.content1 .zhjian .left2 .linner  img{
    float: left;
    width: 725px;
    height: 456px;
}
.zhjian .leftz{
    width: 725px;
    height: 456px;
    float: left;
    position: relative;
}
 .zhjian .leftz .btn1{
    width: 25px;
    height: 55px;
    background-color: #000;
    opacity: 0.1;
    filter: alpha(opacity=10);
    position: absolute;
    top: 200px;
    left:0;
    z-index: 3;
     cursor: pointer;
     line-height: 55px;
     text-align: center;
}
 .zhjian .leftz .btn1 .spanb{
    color: #D6D9FF;
    font-size: 25px;
}
.content1 .zhjian .leftz .btn2{
    position: absolute;
    top: 200px;
    left:700px;
 }
 .zhjian .leftz .ullun{
    position: absolute;
    top: 427px;
    left: 300px;
 }
 .zhjian .leftz .ullun li{
    float: left;
    background-color: #3E3E3E;
    padding: 1px 6px;
    border-radius: 50%;
    margin-left: 8px;
    color: #fff;
    cursor: pointer;
 }
.content1 .zhjian .right{
    width: 250px;
    height: 100%;
    border:1px solid #EDEDED;
    float:right;
}
 .clear{
    clear: both;
}
 .bottom{
     width: 1218px;
    height: 149px;
    /*border: 1px solid red;*/
    margin: 10px auto;
    position: relative;

}
 .btn5{
    width: 25px;
    height: 55px;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top: 50px;
    left:206px;
    z-index: 3;
    cursor: pointer;
    line-height: 55px;
    text-align: center;
     display: none;
}
 .span5b{
     color: #fff;
     font-size: 25px;
 }
 .btn6{
     position: absolute;
     left:1193px;
 }
 .bottom .tuili{
     width: 2056px;
     height: 100%;
     float: left;
     position: absolute;
     top: 0;
     left: 0;
 }
.bottom .tuili li{
    width: 210px;
    float: left;
    margin-right: 47px;
}
.bottom .tuili li img{
    width: 255px;
    height: 152px;
}
 .bottom .tjian{
     width: 1012px;
     height: 100%;
     overflow: hidden;
     position: relative;
     float: left;
     /*overflow: scroll;*/
 }
 .bottom .tout{
     width: 1010px;
     height: 100%;
     /*border: 1px solid blue;*/
     float: left;
 }
 .bottom .img1{
    width: 206px;
    height: 152px;
    background-image: url("http://misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png");
    background-repeat: no-repeat;
    background-position: -213px -136px;
    float: left;
}
.content1 .zhjian .right .top{
     height: 160px;
 }
.content1 .zhjian .right .bottom2{
    height: 204px;
}
.content1 .right .bottom2 table{
    position: relative;
    /*border: 1px solid #E4E4E4;*/
    border-collapse:collapse;
    /*margin-top: 30px;*/
}
.content1 .bottom2 table td{
    width: 62px;
    height: 68px;
    border: 1px solid  #E4E4E4;
    border-right: none;
    cursor: pointer;
}
.bottom2  table .tdo{
    width: 25px;
    height: 25px;
    /*border: 1px solid red;*/

}
.bottom2  table .td1{
    position: absolute;
    top:15px;
    left: 17px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 0 no-repeat;
}
.bottom2  table .td2{
    position: absolute;
    top:15px;
    left: 79px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -27px no-repeat;
}
.bottom2  table .td3{
    position: absolute;
    top:15px;
    left: 141px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -52px no-repeat;
}
.bottom2  table .td4{
    position: absolute;
    top:15px;
    left: 203px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -76px no-repeat;
}
.bottom2  table .td5{
    position: absolute;
    top:85px;
    left: 17px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -101px no-repeat;
}
.bottom2  table .td6{
    position: absolute;
    top:85px;
    left: 79px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -126px no-repeat;
}
.bottom2  table .td7{
    position: absolute;
    top:85px;
    left: 141px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -151px no-repeat;
}
.bottom2  table  .jiang{
    float: right;
    margin:-9px -1px 0 0;
}
.bottom2  table .td8{
    position: absolute;
    top:85px;
    left: 203px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -176px no-repeat;
}
.bottom2  table .td9{
    position: absolute;
    top:155px;
    left: 17px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -251px no-repeat;
}
.bottom2  table .td10{
    position: absolute;
    top:155px;
    left: 79px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -201px no-repeat;
}
.bottom2  table .td11{
    position: absolute;
    top:155px;
    left: 203px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -226px no-repeat;
}
.bottom2  table .td12{
    position: absolute;
    top:155px;
    left: 141px;
    background:url("http://img12.360buyimg.com/da/jfs/t1987/293/2817383495/6392/c219eb53/56f4e6b8N940f608c.png") 0 -276px no-repeat;
}

.content1 .right .bottom2 td  span{
    float: left;
    margin: 38px 0 0 18px;
}
.content1 .right .bottom2 td  .span3{
    margin-left: 12px;
}
.content1 .right .amn{
    margin-top: 17px;
}
.content1 .zhjian .right{
    font-size: 12px;
    color:rgb(154,154,154);
}
.content1 .zhjian .right a{
    text-decoration: none;
    color:rgb(154,154,154);
}
.content1 .zhjian .right a:hover{
    color:red;
}
.content1 .zhjian .right ul{
    list-style-type: none;
}
.content1 .zhjian .right ul li{
    margin: 8px 10px;
}
.content2 {
    width: 1218px;
    height: 270px;
    border: 1px solid #EDEDED;
    margin:10px auto;
}
.caini{
    width: 300px;
    height: 20px;
    margin-top: 35px;
    margin-left: 65px;
    font-size: 23px;
    background: url(http://misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) 97px -95px no-repeat;
}
.content2 .caiimg{
    width: 204px;
    height: 100%;
    float: left;
}

.content2 .caiimg  a{
    display: inline-block;
    font-size: 13px;
    color: #000;
    line-height: 20px;
    margin-top: 30px;
    text-decoration: none;
    margin-left: 35px;

}
.content2 .caiimg  a:hover{
    color: red;
}
.content2  span{
    color: red;
    font-size: 18px;
    margin-left: 35px;
}
.shu{
    width: 1px;
    height: 70px;
    border-right: 1px solid  #EDEDED;
    margin-left: 199px;
    margin-top:-70px;
    float: left;
}
.pin-h2{
    color: #333;
    font-size: 23px;
    line-height: 36px;
    margin:20px 0 0 63px;
    font-weight:lighter;
}
.content3{
    width: 1218px;
    height: 409px;
    border: 1px solid  #EDEDED;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.content3 .con3-1{
    width: 405px;
    height: 100%;
    border-right: 1px solid #EDEDED;
    float: left;
    background-color: #F7F7F7;
    cursor: pointer;
}
.con3-1-a{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #EDEDED;
    text-decoration: none;
    color: #000;
}
.con618 {
    position: absolute;
    top: 115px;
    left: 46px;
}
 .f618{
    font-size: 15px;
    font-weight: bold;
}
 .s618 {
    font-weight: bold;
    margin: 10px 0;
}
 .t618{
    color: #CE0027;
}
.con3-1 .con3-1-a .con3-img{
    width: 405px;
    /*float: left;*/
}
.con3-1-a .px{
    width: 320px;
    height: 45px;
    border-bottom: 1px dashed #EDEDED ;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
}
.content3 .con3-2{
    width: 203px;
    height: 100%;
    border-right: 1px solid #EDEDED;
    float: left;
    position: relative;
}
.hao100{
    width: 175px;
    height: 45px;
    border-bottom:1px dashed #EDEDED;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
}
.con3-2 img{
    width: 203px;
    height: 202px;
}
.con100{
    position: absolute;
    top: 115px;
    left:10px;
}
.con3-4{
    width: 202px;
    height: 100%;
    /*border-right: 1px solid #EDEDED;*/
    float: left;
}
.con3-4 table{
    /*border:1px solid red;*/
    margin: 15px auto;
    collapse: 0;
}
.content3 .con3-4 tr{
    border:1px dashed #EDEDED;
    height: 57px;
}
.con3-4 td{
    width: 80px;
    border:1px dashed #EDEDED;
    border-top: none;
    border-left: none;
}
.con3-4 .td-right{
    border-right: none;
}
.con3-4 .td-bottom{
    border-bottom: none;
}
.miaosha{
    float: right;
}
.con3-1-xinpin{
    top: 300px;
    left: 10px;
    color: #000;
}
.con3-1-miaosha{
    top: 300px;
    left: 215px;
    color: #000;
}
.con3-2-haowu{
    top: 300px;
    left: 10px;
    color: #000;
}
.con3-1-dapai{
    top: 300px;
    left: 620px;
    color: #000;
}
/*************F2和F3之间的图片*******************/
.f23f{
    width: 1211px;
    margin: 45px auto;
}
.f23f img{
    float: left;
}

/*************尾部*******************/
