.content{
	width:1248px;
	margin: 0 auto;
}
.contentTopText{
	width:100%;
	padding-top:70px;
	padding-bottom:70px;
	color:#666;
	font-size:18px;
}
.contentHr{
	width: 100%;
	color:#666;
	margin-top:30px;
	margin-bottom:10px;
}
.toLeft{
	margin: 0 10px;
	color:#666;
}
.btmCut{
	width: 100%;
	margin-bottom:20px;
}
.btmCut a:first-child{
	float: left;
}
.btmCut a:last-child{
	float: right;
}