.content{
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.infoTitle{
	margin-bottom:35px;
}
.infoTitle a{
	color:#333;
}
.infoText{
	margin-bottom:35px;
}
.moreInfo{
	width: 130px;
	height: 35px;
	border-radius: 5px;
	display: inline-block;
	color:#fff;
	background: #f75a53;
	text-align: center;
	line-height: 35px;
}
.moreIcon{
	margin-left:5px ;
	margin-bottom:2px;
}
.collectIcon{
	margin: 0 10px 0 20px;
}
.dynamic li{
	padding-top:30px;
	padding-bottom: 30px;
	border-bottom:1px dashed #e4e4e4;
	width: 100%;
}
.dynamicLeft{
	width: 15%;
	float:left;
}
.dynamicLeft img{
	float: left;
	width: 70%;
	height: 70%;
	margin: 15% 15%;
}
.dynamicRight{
	width: 85%;
	float: left;
}
.dynamicTitle{
	margin-bottom:25px ;
}
.shareIcon{
	margin-top:30px;
}
.shareIcon span{
	float: left;
}
.shareIcon i{
	width: 16px;
	height: 16px;
	background-size: 100% 100%;
	display: inline-block;
	float:left;
	margin: 2px 5px 0;
	cursor: pointer;
}
.share{
	background: url(../img/11.png);
}
.WB{
	background: url(../img/12.png);
}
.txWB{
	background:url(../img/13.png);
}
.message{
	background: url(../img/15.png);
}
.zone{
	background:url(../img/14.png);
}
@media screen and (max-width:480px){
.dynamicLeft{
	width: 25%;
	float:left;
}
.dynamicLeft img{
	float: left;
	width: 100%;
	height: 100%;
	margin: 0
}
.dynamicRight{
	width: 75%;
	float: left;
}
}
