.content{
	max-width: 1248px;
	width: 100%;
	margin: 0 auto;
}
.infoTitle{
	margin-bottom:35px;
}
.infoTitle a{
	color:#333;
}
.infoText{
	margin-bottom:35px;
}
.moreInfo{
	float: left;
	width: 130px;
	height: 35px;
	border-radius: 5px;
	display: inline-block;
	color:#fff;
	background: #f75a53;
	text-align: center;
	line-height: 35px;
}
.time{
	display: inline-block;
	float: left;
	margin: 8px 0;
}
.moreIcon{
	margin-left:5px ;
	margin-bottom:2px;
}
.collectIcon{
	margin: 0 10px 0 20px;
}
.signInfo li{
	padding-top:30px;
	padding-bottom: 30px;
	border-bottom:1px solid #e4e4e4;
	width: 100%;
}