/*........................................*/
body{
    width: 100%;
    height: 100%;
    background-color: #000;
}
.box2{
    position:relative;
    margin: 200px auto;
    width: 150px;
    height: 70px;
}
@keyframes up{
    0%{transform:rotateZ(0deg);}
    50%{transform:rotateZ(-90deg);}
    100%{transform:rotateZ(0deg);}
}
@keyframes down{
    0%{transform:rotateZ(0deg);}
    50%{transform:rotateZ(90deg);}
    100%{transform:rotateZ(0deg);}
}
@keyframes run {
    0%{transform:translateX(0);opacity:0;}
    40%{transform:translateX(-40px);opacity:0.3;}
    70%{transform:translateX(-70px);opacity:0.7;}
    100%{transform:translateX(-100px);opacity:1;}
}
.box2 li:nth-child(1){
    width: 0;
    height: 0;
    border: 35px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: up 0.4s linear infinite;
    -moz-animation:up 0.4s linear infinite ;
    -ms-animation: up 0.4s linear infinite;
    -o-animation:up 0.4s linear infinite;
    animation: up 0.4s linear infinite;
}

.box2 li:nth-child(2){
    width: 0;
    height: 0;
    border: 35px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    margin-top: -70px;
    -webkit-animation: down 0.4s linear infinite;
    -moz-animation:down 0.4s linear infinite ;
    -ms-animation: down 0.4s linear infinite;
    -o-animation: down 0.4s linear infinite;
    animation: down 0.4s linear infinite;
}
.box2 li:nth-child(3){
    width: 12px;
    height:12px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 25px;
    opacity: 0;
    -webkit-animation: run 1s linear 0.33s infinite;
    -o-animation: run 1s linear 0.33s infinite;
    animation: run 1s linear 0.33s infinite;
}
.box2 li:nth-child(4){
    width: 12px;
    height:12px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 25px;
    opacity: 0;
    -webkit-animation: run 1s linear 0.66s infinite;
    -o-animation: run 1s linear 0.66s infinite;
    animation: run 1s linear 0.66s infinite;
}
.box2 li:nth-child(5){
    width: 12px;
    height:12px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 25px;
    opacity: 0;
    -webkit-animation: run 1s linear 0.66s infinite;
    -o-animation: run 1s linear 0.66s infinite;
    animation: run 1s linear 1s infinite;
}

