/*...........................header......................................*/
body{
    background-color: #3E0B44;
}
.wrap{
    width: 1000px;
   background-color: #3E0B44;
    margin: 0 auto;
    padding-bottom: 50px;
}
.header{
    width: 100%;
    height: 230px;
    border: 1px solid #fff;
    background-image: url(../img/0.jpg);
    line-height: 140px;
    text-indent: 60px;
    position: relative;
}
.header .nodes{
    color: #fff;
    font-size: 20px;
    float: left;
    margin: 20px 0 0 -15px;
}
.header2{
    width: 100%;
    height: 230px;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/tieta.png) 0 10px no-repeat;
    background-size: 100% 250px;
}
.header .name{
    float: left;
    text-shadow: 3px 3px 5px rgba(255,255,255,1);
    color:#77F770;
    font-weight: bolder;
    font-size: 40px;
}
.header .autograph1{
    position: absolute;
    top: 10px;
    right: 150px;
    font-size:17px;
    color:#dcd9d5;
    text-shadow:3px 3px 5px rgba(249,247,36,1);
    -webkit-animation:run1 2.5s linear;
    -moz-animation:run1 2.5s linear;
    -ms-animation:run1 2.5s linear;
    -o-animation:run1 2.5s linear;
    animation: run1 2.5s linear;
}
.header .autograph2{
    position: absolute;
    top: 40px;
    right: 100px;
    font-size:17px;
    color: #dcd9d5;
    text-shadow:3px 3px 5px rgba(249,247,36,1);
    -webkit-animation:run2 2.5s linear;
    -moz-animation:run2 2.5s linear;
    -ms-animation:run2 2.5s linear;
    -o-animation:run2 2.5s linear;
    animation: run2 2.5s linear;
}
@-webkit-keyframes run1 {
      0%{opacity: 0;transform:translateX(-100px);color:transparent; text-shadow:3px 3px 5px rgba(249,247,36,0);}
     100%{opacity:1;transform:translateX(0px);color:#dcd9d5;   text-shadow:3px 3px 5px rgba(249,247,36,1);}
}
@-webkit-keyframes run2 {
    0%{opacity: 0;transform:translateX(100px);color:transparent;  text-shadow:3px 3px 5px rgba(249,247,36,0);}
    100%{opacity:1;transform:translateX(0px);color:#dcd9d5;  text-shadow:3px 3px 5px rgba(249,247,36,1);}
}
.header img{
    width: 1000px;
    height: 200px;
}
.header .start{
    width:6px;
    height: 6px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    text-shadow: 0 0 10px rgba(249,247,36,0.8);
    -webkit-animation:opa 0.5s linear 1s infinite;
    -moz-animation:opa 0.5s linear 1s infinite;
    -ms-animation:opa 0.5s linear 1s infinite;
    -o-animation:opa 0.5s linear 1s infinite;
    animation:opa 0.5s linear 1s infinite;
}
@-webkit-keyframes opa {
    0%{opacity: 0}
    100%{opacity: 1}
}
/*.................everyDay......................*/
.everyDay{
    width: 900px;
    height: 180px;
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 10px auto 0;
}
.everyDay:after{
    content:"";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
.e_left{
    width: 640px;
    height: 100%;
    float: left;
    border: 1px solid red;
    overflow: hidden;
}
.e_left a{
    display: block;
}
.e_left .a_name{
    width: 57px;
    height: 18px;
    margin: 5px 0 0 32px;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}
.e_left .a_name:hover{
    color: #c1ff72;
    transform: rotateY(360deg);
    transform-origin:50% 50%;
    transition:all 0.8s linear;
}
.e_left .a_img:hover{
    animation: autoplay 1s linear;
}
@keyframes autoplay {
    0%{transform:scale(1);opacity:1}
    50%{transform: scale(1.2);opacity: 0.5}
    100%{transform:scale(1);opacity:1}
}
.demo1,.demo2,.demo3{
    float: left;
    margin: 5px 0 0 20px;
    overflow: hidden;
}
.demo1 img,.demo2 img,.demo3 img{
    width: 120px;
    height: 140px;
}
.e_right{
    width: 250px;
    height: 100%;
    float: right;
    background: url("../img/heiban.png") 0 -10px no-repeat;
    background-size: 270px 200px;
    transform: rotate(10deg);
    position: relative;
}
.clock{
    width: 70px;
    height: 70px;
    position:absolute;
    top:0;
    left:180px;
    background:url("../img/1_01.png") 0 0 no-repeat;
    background-size: 70px 70px;
}
#sec,#hour,#min{
    width: 7px;
    height: 25px;
}

#sec{
    background: url("../img/1_04.png") no-repeat;
    background-size: 10px 25px;
    position: absolute;
    top: 13px;
    left: 30px;
    z-index: 3;
    transform-origin: 60% 88%;
   /*-webkit-transform:rotate(45deg);*/
    /*-moz-transform:rotate(45deg);*/
    /*-ms-transform:rotate(45deg);*/
    /*-o-transform:rotate(45deg);*/
    /*transform:rotate(45deg);*/
}
#hour{
    background: url("../img/1_08.png") no-repeat;
    background-size: 5px 20px;
    position: absolute;
    top:18px;
    left:32px;
    z-index: 1;
    transform-origin: 24% 67%;
}
#min{
    background: url("../img/1_06.png") no-repeat;
    background-size: 5px 22px;
    position: absolute;
    top: 16px;
    left: 32px;
    z-index: 2;
    transform-origin:40% 75%;
}
.e_right .lang{
    position: absolute;
    top: 35px;
    left: 100px;
    font-size: 17px;
    color: #ffff1e;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.e_right .language{
    width: 150px;
    position: absolute;
    top: 63px;
    left: 65px;
    color: #ffffff;
    font-size: 14px;
    text-indent: 20px;
    line-height: 20px;
}





/*...............................main............................................*/
.main{
    width: 900px;
    height: auto;
    background-color: #560973;
    margin:15px auto;
    border: 5px solid #f7fcff;
    border-radius: 10px;
    overflow: hidden;
}
.show{
    display: block;
}
.m_left{
    width: 160px;
    height: 800px;
    float: left;
}

.my_data{
    width: 100%;
    height:200px;
    border-bottom:10px solid #131049;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.my_data img{
    margin:0 10px;
}
.my_data input{
    width: 70px;
    height: 27px;
    margin:5px 0 0 50px;
    background-color:#5C0F3D;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 0 3px 2px rgba(81,19,110,1);
    cursor: pointer;
}
.my_data input:hover{
    width:80px;
    height: 32px;
    color: #fdff4b;
    background-color: #008000;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.my_data img{
    width: 120px;
    height: 150px;
    padding: 10px;
}
#mask{
    background-color: #000;
    opacity: 0.75;
    filter:alpha(opacity=75);
    height: 1000px;
    width: 1000px;
    position: absolute;
    top:0;
    left: 0;
    z-index:1000;
}
#login{
    position: fixed;
    left:30%;
    top:30%;
    z-index: 1002;
}
.loginCon{
    width:670px;
    height: 380px;
    background-color: #f9ddba;
    position: relative;
}
.p_introduce{
    width: 300px;
    height: 200px;
    float: left;
    border: 2px solid #540B6F;
    font-size: 20px;
    margin: 100px 0 0 180px;
    color: red;
    text-indent: 30px;
    box-shadow: 5px 5px 5px 5px rgba(84,11,111,0.7);
}
.list{
    position: relative;
}
.list li{
    height: 40px;
    text-indent: 20px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px dashed #fff;
    cursor: pointer;
}
#close{
    width: 30px;
    height: 28px;
    border-radius: 50%;
    background: url("../img/close.jpg") no-repeat;
    background-size: 30px 30px;
    position: absolute;
    top:0 ;
    left:640px;
    cursor: pointer;

}
.list .box{
    width: 730px;
    height: 800px;
    border-left: 5px solid #fff;
    background-color:#560973;
    position: absolute;
    top: -200px;
    left:160px;
    display: none;
}

.b_list{
    width: 680px;
    border: 1px solid red;
    margin: 30px auto;
}
.list .box .b_list li{
    width: 100%;
    height: 150px;
    position: relative;
}
.box .b_list li span{
    padding: 5px 7px;
    font-size: 12px;
    background-color: #6e07c8;
    color: #fff;
    border-radius:10%;
    box-shadow:2px 2px rgba(222, 241, 233, 0.5);
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-indent: 0;
    line-height: 17px;
}

/*...........................m_right......................................*/
.m_right{
    float: left;
    width: 732px;
    height: 100%;
    border-left: 4px solid #fff;
}
/*.............................articles..........................................*/
.articles{
    width: 100%;
    margin-top: 50px;
    border-top: 10px solid #131049;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.articles>li{
    width: 100%;
    height:26px;
    color: #fff;
    line-height:15px;
    border-bottom: 1px dashed #fff;
    padding-top: 13px;
    font-size: 16px;
    text-indent: 20px;
    cursor: pointer;
    position: relative;
}
.articles>li:hover{
    background-color:#57205B ;
    color: #46ca72;
}
.articles_ul1{
    width: 120px;
    height: 0;
    opacity: 0;
    margin-left: 5px;
    background-color: #932c97;
    position: absolute;
    top: 39px;
    left: 10px;
    z-index: 2;
   overflow: hidden;
}
.articles_ul1 a{
    color: #ffff1e;
    font-size: 12px;
}
.articles_ul1 li {
    padding-top:7px;
}
.articles_ul1 a:hover{
    color: #46ca72;
}
.articles>li:hover .articles_ul1{
    height:150px;
    opacity: 1;
    -webkit-transition:all  1s linear;
    -moz-transition:all  1s linear;
    -ms-transition:all 1s linear;
    -o-transition:all 1s linear;
    transition: all 1s linear;
}

/*.......................footer......................................*/
.footer{
    width: 900px;
    height: 180px;
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 10px auto 0;
    overflow: hidden;
}
.f_left{
    width: 70px;
    height: 100%;
    float: left;
    border-right: 3px solid #fff;
    overflow: hidden;
}
.f_left p{
    float: left;
    font-size: 25px;
    color: #fff;
    margin-left: 25px;
    margin-top: 22px;
}
.f_right{
    width: 820px;
    height: 180px;
    float: right;
}
.angu,.node,.php{
    width: 200px;
    height: 180px;
    border-right: 2px solid #57205b;
    float: left;
}
.p_name{
    font-size: 25px;
    color: #d4b99d;
    font-weight: bold;
}
.f_right a{
    color: #fff;
    display: block;
    font-size:15px;
    margin-top: 5px;
}
.f_right a:hover{
    color: #35ff15;
}
/*........list..............................*/
.b_list li h3{
    color: #b7b4b0;
   margin: 5px 0 0 32%;
}
.b_list p{
    color: #b7b4b0;
    font-size: 15px;
    margin-left:20px;
    line-height: 25px;
}
.b_list a{
    color: #b7b4b0;
}

/*......................hidden........................................*/
.wrap_right{
    width: 732px;
    height: 850px;
}
.wrap_right_ul{
    width: 650px;
    height: 800px;
    border: 1px solid red;
    margin: 30px auto;
}
.wrap_right_ul li{
    width: 280px;
    height: 250px;
    border:1px solid red;
    margin: 10px 0 0 25px;
    float: left;
    position: relative;
}
.wrap_right_ul li img{
    width: 280px;
    height: 250px;
}
.mask_li{
    width: 280px;
    height: 250px;
    background-color: #000000;
    opacity: 0.85;
    filter:alpha(opacity=0.85);
    position: absolute;
    top: -280px;
    left: 0;
    z-index: -2;
    /*display: none;*/
}
.wrap_right_ul li:hover .mask_li{
    /*display: block;*/
    top: 0;
    z-index: 2;
    transition: all linear 1s;
}
.mask_li_title{
    font-size: 25px;
    font-weight: bolder;
    display: block;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    opacity: 0.9;
    filter:alpha(opacity=90);
}
.mask_li_main{
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    background-color: #ffbfc6;
    padding: 23px 0;
    text-align: center;
    opacity: 0.9;
    filter:alpha(opacity=90);
    position: relative;
}
.mask_li_main i{
    position: absolute;
    top:10px;
    left: 10px;
}
.mask_li_main .dog{
    width: 100px;
    height: 150px;
}