/*........................gong gong.........................*/
.m_right h1{
    color: #b7b4b0;
    text-align: center;
    margin-top: 30px;
}
.m_right .p1{
    margin: 30px 30px;
}
.m_right p{
    color: #b7b4b0;
    margin: 10px 30px;
    font-size: 15px;
    line-height: 25px;
}
.list .show{
    color: #2dff26;
    background-color: #57205b;
}